/*设置背景颜色*/
body{
    background:-webkit-gradient(linear, 50% 50%,10% 0%,from(#D8BFD8), to(#AFEEEE));
}
/*文字的样式*/
.wz{
    text-indent: 32px;
    color:#F5FFFA;
    font-size: 25px;
    line-height: 30px;
}
.xx{
    color:#F5FFFA;
    text-align: center;
    font-size: 25px;
}
.lss{
    text-align: center;
}
.ls{
     text-decoration: none;
     font-size: 30px;
     color:#FFFAFA;
}
.ls:hover{
    animation: dh4 1s;
}
@keyframes dh4 {
    30%{
        color:#FF8247;
    }
    50%{
        background: rgba(245,255,250,0.5);

    }
    70%{
        color: lightcyan;
        background: rgba(224,255,255, 0.2);
    }
}
.bmfk{
    color:#6495ED;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    width: 300px;
    border-color: #BBFFFF;
    border-width: 3px;
    background: rgba(245,245,245,0.2);
}
.bmfk:hover{
    color:#4682B4;
    border-color: #6495ED;
    background: rgba(240,255,240,0.3);
    transition-delay: 50ms;
    transition-duration: 300ms;
}