body{
    background:-webkit-gradient(linear, 50% 50%,10% 0%,from(#a9c6de), to(#eaf5ff));
}
.wzz{
    /*text-decoration: none;*/
    font-size: 30px;
    color:#f0e9e9;
    text-align: center;
}
.wzz:hover{
    color:#9370DB;
    background: rgba(245,255,250,0.5);
    transition-delay: 10ms;
    transition-duration: 100ms;
}
.fx{
    text-align: center;
}