.bmfk{
    color:#6495ED;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    width: 200px;
    border-color: #BBFFFF;
    border-width: 3px;
    background: rgba(245,245,245,0.2);
}