/*设置标题*/
.bt{
    text-align: center;
    font-size: 50px;
    color: azure;
}
/*关于的边框*/
.bk{
    text-align: center;
    margin:0 auto;
    border-bottom: azure;
    border-width: 5px;
    border-bottom-style:solid;
    width: 300px;
}
/*边框动画效果*/
@keyframes dh {
    40%{
        width: 500px;
    }
    to{
        width: 300px;
    }
}
/*边框的动画*/
.bk:hover{
    animation:dh 1s;
}
/*标题下的横线效果*/
@keyframes dh2 {
    50%{
        background: rgba(216,191,216,0.6);
        color:	#FFB6C1;
        border-color:#FFB6C1;
    }
}
/*关于*/
.gn{
    position: fixed;
    text-decoration:none;
    background-color: rgba(102,205,170,0.3);
    font-size: 40px;
    text-align: left;
    color:#FAFAD2;
    border-width: 2px;
    border-radius: 2px;
    border-style: solid;
}
/*关于 东西效果*/
.gn:hover{
    animation: dh2 0.7s;
}