/*设置标题*/
.bt{
    text-align: center;
    font-size: 50px;
    color: azure;
}
/*关于的边框*/
.bk{
    text-align: center;
    margin:0 auto;
    border-bottom: azure;
    border-width: 5px;
    border-bottom-style:solid;
    width: 300px;
}
/*边框动画效果*/
@keyframes dh {
    40%{
        width: 500px;
    }
    to{
        width: 300px;
    }
}
/*标题下的横线效果*/
.bk:hover{
    animation:dh 1s;
}
/*关于*/
.gn{
    position: fixed;
    text-decoration:none;
    background-color: rgba(175,238,238,0.3);
    font-size: 40px;
    text-align: left;
    color: #4682B4;
    border-width: 2px;
    border-radius: 2px;
    border-style: solid;
}
/*关于 东西效果*/
.gn:hover{
    border-color: #98FB98;
    color:	#ADD8E6;
    transition-delay: 100ms;
    transition-duration: 500ms;
}
.gg{
    position: fixed;
}