body{
    background:-webkit-gradient(linear, 50% 50%,10% 0%,from(#5588a3), to(#e8e8e8));
}
.wzwz{
    text-align: center;
}
.wz{
    text-decoration: none;
    font-size: 25px;
    color: #eaf5ff;
}
.wz:hover{
    color: #444444;
}
.bkk{
    text-align: center;
    margin: 0 auto;
    width: 300px;
    font-size: 30px;
    color: #eaeaea;
    border-color:#eaeaea ;
}
.bkk:hover{
    color: #204969;
    border-color: #2d3561;
    background: rgba(255,255,255,0.1);
    transition-duration: 200ms;
}