body{
    background:-webkit-gradient(linear, 50% 50%,10% 0%,from(#F5F5DC), to(#40E0D0));
}
.wb{
    text-align: center;
    font-size: 25px;
    color: black;
    line-height: 32px;
    border: 1px solid #D3D3D3;
    background: rgba(240,255,255,0.3);
}
.zz{
    text-decoration: whitesmoke;
    text-align: right;
    color: coral;
    font-size: 25px;
    line-height: 32px;
}
.wb:hover{
    border-color: black;
    background: rgba(255,240,245,0.4);
    transition-delay: 100ms;
    transition-duration: 200ms;
}