body{
    background:-webkit-gradient(linear, 90% 100%,10% 0%,from(#f6a7ba), to(#D8BFD8));
}
.cs{
    text-align: center;
}
.cl{
    text-decoration: none;
    font-size: 30px;
    color: lightcyan;
}
.cl:hover{
    border: 1px solid #F0FFF0;
    background: rgba(255,255,240,0.5);
    color: 	#8470FF;
    transition-delay: 50ms;
    transition-duration: 300ms;
    transition-property: border;
}