body{
    background:-webkit-gradient(linear, 50% 50%,10% 0%,from(#696969), to(#142d4c));
}
.sp{
    text-align: center;
}
.wzdf{
    text-align: center;
    font-size: 30px;
    color: white;
}