.dhlwz{
    text-align: left;
    position: fixed;
}
.da{
    list-style: none;
}
.xm li{
    list-style: none;
    display: none;
}
.xiang{
    font-size: 30px;
    color:#774181;
}
.xiang:hover{
    color:#bf81ff;
    background:#dae1e7;
    transition-delay: 50ms;
    transition-duration: 200ms;
}
.xiang:hover li{
    display: block;
}
li{
    color:#69779b;
}
li:hover{
    color:#3b2c85;
    transition-delay: 50ms;
    transition-duration: 100ms;
}
.ann{
    text-decoration: none;
    color:#69779b;
}
.ann:hover{
    color:#3b2c85;
    transition-delay: 50ms;
    transition-duration: 100ms;
}
/*常用网站列表*/
.xm2 li{
    list-style: none;
    display: none;
}
.xiang2{
    color:#FFFAFA;
    font-size: 30px;
}
.xiang2:hover{
    color:#4682B4;
    transition-delay: 50ms;
    transition-duration: 300ms;
}
.xiang2:hover li{
    display: block;
}
