.dhlwz{
    text-align: left;
    position: fixed;
}
.da{
    list-style: none;
}
.xm li{
    list-style: none;
    display: none;
}
.xiang{
    font-size: 30px;
    color:#FF6A6A;
}
.xiang:hover{
    color:#FF0000;
    background:#E0FFFF;
    transition-delay: 50ms;
    transition-duration: 200ms;
}
.xiang:hover li{
    display: block;
}
li{
    color:#63B8FF;
}
li:hover{
    color:#0000CD;
    transition-delay: 50ms;
    transition-duration: 200ms;
}
.ann{
    text-decoration: none;
    color:#63B8FF;
}
.ann:hover{
    color:#0000CD;
    transition-delay: 50ms;
    transition-duration: 200ms;
}
/*常用网站列表*/
.xm2 li{
    list-style: none;
    display: none;
}
.xiang2{
    color:#FFFAFA;
    font-size: 30px;
}
.xiang2:hover{
    color:#4682B4;
    transition-delay: 50ms;
    transition-duration: 300ms;
}
.xiang2:hover li{
    display: block;
}
/*.ann2{*/
/*    text-decoration: none;*/
/*    color:#6495ED;*/
/*}*/
/*.ann2:hover{*/
/*    color:#E066FF;*/
/*    background: rgba(240,255,240,0.3);*/
/*    transition-duration: 200ms;*/
/*}*/
